.library {
  display: none;

  .library-slider {
    padding-top: 50px;
    padding-bottom: 30px;

    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      margin-bottom: 10px;
    }

  }

  .library-slide {
    padding: 20px;
    position: relative;


    &:hover .library-slide-overlay {
      transform: scale(1);
      opacity: 1;
      border-radius: 0;
    }

    .library-slide-overlay {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      top: 15px;
      background: #FFF9;
      text-decoration: none;
      transform: scale(.7);
      transition: .3s ease-in-out;
      z-index: 2;
      opacity: 0;
      border-radius: 50%;

      .library-slide-popup {
        text-align: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #48D;
        padding: 5px 10px;
        border-radius: 40px;
        width: 50px;
        height: 50px;
        color: #FFF;
        font-size: 1.66rem;
        line-height: 2.5rem;

      }
    }
    .library-slide-label {
      font-weight: bold;
    }
  }
}
